@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1921px) {
  html {
    font-size: 120%;
  }
}

/* ------------------------------ */

@media (max-width: 1200px) {
  html {
    font-size: 150%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

/* ------------------------------------------------ */
#main {
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
#main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg4.jpg') no-repeat center center/cover;
  animation: zoom-in-zoom-out 45s ease infinite;
}

.content {
  position: relative;

  min-height: 100vh;
  height: auto;

  padding: 40px 80px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 10;
  transition-duration: 0.5s;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  z-index: -10;
}

.content-top {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------ */

#weather-info {
  color: white;
  display: flex;
  flex-direction: column;
}

.weather-description {
  margin-left: -8px;
  font-size: 2.6rem;
  font-weight: 500;
}

.weather-city {
  margin-top: 10px;
  font-size: 20px;
}

.weather-date {
  margin-top: 5px;
}

.weather-date,
.weather-time {
  font-size: 0.9rem;
}

.weather-temp {
  margin: 5px 0px;
  font-size: 3.4rem;
  font-weight: 900;
}
.weather-icon {
  margin-top: 20px;
  width: 6rem;
}
/* ------------------------------------------------ */

.toggle {
  --width: 70px;
  --height: calc(var(--width) / 3);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  width: var(--width);
  cursor: pointer;
}

.toggle-input {
  display: none;
}

.toggle-fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #009578;
}

.toggle-fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: calc(var(--width) / 2);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill {
  background: #009578;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(calc(var(--height) * 1.5));
}

.units {
  font-size: 0.9rem;
  font-weight: 600;
}

/* ------------------------------------------------ */

.search-box {
  border-bottom: 2px solid white;
  border-radius: 2px;

  height: 30px;
  max-width: 200px;

  height: 30px;
  padding: 6px;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box-input {
  border: none;
  height: 100%;
  flex-shrink: 2;
  max-width: 150px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.search-box-input::placeholder {
  color: #cfd8dc;
  font-size: 0.8rem;
}

.search-box-input:focus {
  outline: none;
}

.search-icon {
  height: 18px;
  min-width: 18px;
  background-color: #fff;
  color: #333;
  background-image: url('../images/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  cursor: pointer;
}

/* Side weather info */
/* ------------------------------------------------ */

#weather-info-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#weather-info-side .weather-info-box {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

#weather-info-side .weather-icon {
  width: 2.2rem;
}

#weather-info-side .weather-icon:hover {
  transform: scale(1.05);
}

#weather-info-side h6 {
  font-size: 0.8rem;
}

#weather-info-side .side-info {
  font-size: 1.3em;
  font-weight: 500;
}

/* bottom forecast */
/* ------------------------------------------------ */

#forecast-info {
  display: flex;
  justify-content: space-between;
}

#forecast-info .forecast-info-box {
  border-left: 5px solid #fff;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forecast-info .forecast-info-right {
  display: flex;
  align-items: center;
}

#forecast-info .forecast-info-box h6 {
  font-size: 1rem;
}

#forecast-info .forecast-temp {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
}

#forecast-info .forecast-low {
  margin-top: 10px;
  font-size: 0.8rem;
}

#forecast-info .forecast-icon {
  margin: 10px 20px 0px 0px;
  width: 3.6rem;
}

#forecast-info .forecast-icon:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .content {
    padding: 30px;
  }

  .weather-description {
    margin-left: -2px;
  }

  #forecast-info {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    flex-direction: column;
  }

  #forecast-info .forecast-temp {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
  }

  #forecast-info .forecast-info-box {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  #forecast-info .forecast-icon {
    width: 2.4rem;
  }

  #forecast-info .forecast-low {
    margin-top: 0px;
    font-size: 0.8rem;
  }
}

.error-message {
  margin-top: 1rem;
  font-size: 1rem;

  /* visibility: hidden; */
}
